In [1]:
# Dependencies
import pandas as pd
import csv
import requests
import json

In [2]:
with open("stadiums_nfl.json") as datafile:
  data = json.load(datafile)
dataframe = pd.DataFrame(data)

In [3]:
dataframe.head()

,datasetid,fields,geometry,record_timestamp,recordid
0,stadiums_nfl,"{'sector': 'High Value/Symboli', 'reliabilit':...","{'type': 'Point', 'coordinates': [-87.61676997...",2017-04-13T04:48:16-04:00,acaab7736b25dbc81055f02ceb96041ea791aab6
1,stadiums_nfl,"{'sector': 'High Value/Symboli', 'reliabilit':...","{'type': 'Point', 'coordinates': [-95.41091997...",2017-04-13T04:48:16-04:00,b6b73850e7110b440b11ba18a3d5d18c4a4df399
2,stadiums_nfl,"{'sector': 'High Value/Symboli', 'reliabilit':...","{'type': 'Point', 'coordinates': [-94.48388009...",2017-04-13T04:48:16-04:00,dae0180f6c4107dbc52ea4174d0e331e135d8e74
3,stadiums_nfl,"{'sector': 'High Value/Symboli', 'reliabilit':...","{'type': 'Point', 'coordinates': [-90.08127999...",2017-04-13T04:48:16-04:00,bb9e7a8c6e5b57f863029203999e7fe3877b50ed
4,stadiums_nfl,"{'sector': 'High Value/Symboli', 'reliabilit':...","{'type': 'Point', 'coordinates': [-80.23888995...",2017-04-13T04:48:16-04:00,2c453332d4240ec71639594550cd223109270786

In [4]:
# Store filepath in a variable
file_one = "stadiums_nfl.csv"

In [5]:
# Read our Data file with the pandas library
# Not every CSV requires an encoding, but be aware this can come up
stadiums_nfl_df = pd.read_csv(file_one, encoding="ISO-8859-1")

In [6]:
# Show just the header
stadiums_nfl_df.head()

,CITY,STATE,NAME,TEAM,ROOF_TYPE,CONFERENCE,DIVISION,CAPACITY,LATITUDE,LONGITUDE
0,Arlington,TX,Cowboys Stadium,Dallas Cowboys,Retractable,National,East,80000.0,32.74778,-97.09277
1,Atlanta,GA,Georgia Dome,Atlanta Falcons,Dome,National,South,71228.0,33.75735,-84.40121
2,Baltimore,MD,M&T Bank Stadium,Baltimore Ravens,Open,American,North,71008.0,39.27790,-76.62270
3,Charlotte,NC,Bank of America Stadium,Carolina Panthers,Open,National,South,73778.0,35.22584,-80.85331
4,Chicago,IL,Soldier Field,Chicago Bears,Open,National,North,61500.0,41.86250,-87.61677

In [7]:
# Show mulitple specific columns--note the extra brackets
stadiums_nfl_df_type = stadiums_nfl_df [["CITY", "ROOF_TYPE","CAPACITY","LATITUDE","LONGITUDE"]]
stadiums_nfl_df_type.head(10)

              CITY    ROOF_TYPE  CAPACITY  LATITUDE  LONGITUDE
0        Arlington  Retractable   80000.0  32.74778  -97.09277
1          Atlanta         Dome   71228.0  33.75735  -84.40121
2        Baltimore         Open   71008.0  39.27790  -76.62270
3        Charlotte         Open   73778.0  35.22584  -80.85331
4          Chicago         Open   61500.0  41.86250  -87.61677
5       Cincinnati         Open   65535.0  39.09532  -84.51623
6        Cleveland         Open   65790.0  41.50618  -81.69962
7           Denver         Open   76125.0  39.74396 -105.02028
8          Detroit         Dome   64111.0  42.34005  -83.04564
9  East Rutherford         Open   82500.0  40.81361  -74.07444

In [8]:
# Export file as a CSV, without the Pandas index, but with the header
stadiums_nfl_df_type.to_csv("stadiums_nfl_type.csv", index=False, header=True)